*{box-sizing: border-box;

}

@media(min-width:1440px){

    body{font-family: 'Be Vietnam Pro', sans-serif;
        height: 2639px;
        margin: auto;
        width:vw;
    }
    .getstarted{background-color:#8B48BF;
            border-radius:50px;
            color:#FFFFFF;
            font-size: 0.8125rem;
            padding:12.5px 30.5px;

    }
    .getstarted:hover{background-color:rgba(139, 72, 191, 0.7);
    }
    
    

/*                 HEADER NAVMENU + LOGO             */


    header {display:flex;
        align-items:center;
        flex-direction: row;
        height: 174px;
        justify-content: space-between; 
        padding: 0px 165px;            
    }
    .list {display: flex;
        flex-direction: row;
        font-size: 0.8125rem ;
        list-style-type: none;


    }
    ul.list li{margin: 0px 15px; 
    }
    header div{background-color:#8B48BF;
        border-radius:50px;
        color:#FFFFFF;
        font-size: 0.8125rem;
        padding:12.5px 30.5px;

    }
    .hamburger{display:none;

    }


/*                     HOME                 */

    .home{display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin:40px 110px 100px 165px;
        height: 549px;        
    }
    section.home article{display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:flex-start;

    }
    h1{font-size: 3.625rem;
        color:#232C50;
        line-height: 4.125rem;
        margin-bottom: 0px;
        padding: 0px;
    
    }
    section.home p{width: 350px;
        height: 71px;
        font-weight: 500;
    }


/*                SOBRE NOSOTROS            */
    .sobrenos{display: flex;
        flex-direction:row;
        justify-content: space-between;
        margin: 0px 165px;
        height: 549px;
    }
    .whatsdif{display:flex;
        flex-direction:column;
        height: 212px;
        width:433px;   
    }
    span{
        background-color: #8B48BF;
        padding:10px 25px;
        border-radius: 30px;
        color: #FFFFFF;
        margin-right: 23px;
    }
    div.whatsdif article{display: flex;
        flex-direction: column;
        width: 551px;
        height: 162px;
    }
    div.whatsdif p{margin:0px 24px 0px 92px;
        color:#B3B2B7;
    }
    article.whatsdif h3{font-size: 2.25rem;
    }
    article.whatsdif p{font-weight: 500;
        margin-right: 96px;
    }



/*              TESTIMONIOS                  */

    .testimonios{display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0px 71px 180px;
        flex-wrap: nowrap; 
    }

    section.testimonios h3{ font-size: 2.5rem;
        margin-bottom: 109px;
    }

    .S3div{display:flex;
        background-color:#FAFAFA;
        align-content: center;
        flex-direction: row;
        justify-content: center;
        margin-bottom:40px;        
    }

    div.S3div article{display:flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    div.S3div article p{padding:15px;
        text-align: center;

    }

    div.S3div img{width: 70px;
        height: 70px;
        position: relative;
        top:-35px;

    }

    /*           FRAME PREFOOTER           */

    .prefooter{display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #8B48BF;
        height: 224px;
        padding: 0px 165px;
    }

    .getstarted2{background-color:#FFFFFF;
        border-radius:50px;
        color:#8B48BF;
        padding:12.5px 30.5px;
        font-size: 13px; 
        justify-self: flex-end;

    }

    section.prefooter h2{
        color:#FFFFFF;
        font-size: 36px;
        width: 438px;
        justify-self: flex-start;   
    }



    /*               FOOTER             */

    footer {background-color: #1E1E26;
 

    }
    .footerdiv{display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding:53px 165px;

    }
    footer ul{color:#FFFFFF;
        flex-direction: column;
        list-style-type: none;
        line-height: 28px;
        font-weight: 400;

        

    }
    .footericons{display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    .social{display:flex;
        justify-content: space-between;        
    }
    footer p{color: #8C8C94;
        font-weight: 500;
        font-size: 0.78125rem;
        
    }
    .copyright{justify-content: space-between;}

}

/**           smartphones                    **/

@media(min-width:480px) and (max-width:1439px){
    body{font-family: 'Be Vietnam Pro', sans-serif;
        margin: auto;
        width:vw;
    }

    /*                 NAVMENU + LOGO             */
    header {display:flex;
        align-items:center;
        flex-direction: row;
        height: 60px;
        justify-content: space-between;
        margin: 0px 36px;            
    }

    .list { display: none;
        
    }

    header div{display:none;

    }




}
